<main>
  <h1 class="mb-10">Character list</h1>
  <form class="search-form" [formGroup]="searchForm" (ngSubmit)="clickSearch()">
    <label for="character-name" class="visually-hidden">Name:</label>
    <input
      id="character-name"
      class="search-field"
      type="search"
      placeholder="Enter name"
      [formControl]="searchControl">
    <p
      *ngIf="searchControl.invalid"
      class="search-field-error">
      Available only lettres, numbers and symbol "-"
    </p>
    <button type="submit" [disabled]="searchForm.invalid || (characterListService.isLoading$ | async)">Search</button>
  </form>
  <ng-container *ngIf="characterListService.isExistResults$ | async; else noResults">
    <ul class="list">
      <li
        class="list-item"
        *ngFor="let character of characterListService.characterList$ | async; trackBy: trackByFn">
        <a class="list-item-link">
          <h2>{{character.name}}</h2>
          <img class="list-item-img" src="assets/imgs/user.svg" width="16" height="16" alt="Character photo">
        </a>
      </li>
    </ul>
    <p *ngIf="characterListService.isLoading$ | async" class="loading">Loading...</p>
    <div class="show-more-container">
      <button
        class="show-more-btn"
        [disabled]="!(characterListService.isAvailablePagination$ | async) || (characterListService.isLoading$ | async)"
        (click)="clickShowMore()">
        Show more
      </button>
    </div>
  </ng-container>
</main>

<ng-template #noResults>
  <p class="no-results">No results :(</p>
</ng-template>
